{{ form_start(form) }}

    {{ form_widget(form) }}
    <div>
        <input id="geoInput" class="search" type="search" autocomplete="off">
        <button id="geoSubmit" type="button">Géographier</button>
    </div>
    <div id="geoContent"></div>
    <div id="geoValid">
        {% if waypoints is defined %}
        {% for point in waypoints %}
            <button type="button" class="valited" style="background-color: rgb(140, 217, 140);">
                Etape n°{{ point.step }}
                <small>{{ point.longitude }}, {{ point.latitude }}</small>
            </button>
        {% endfor %}
        {% endif %}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
