{% extends 'base.html.twig' %}

{% block title %}Hiking index{% endblock %}

{% block body %}
    <h1>Hiking index</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Distance</th>
                <th>Elevation_gain</th>
                <th>Region</th>
                <th>Municipality</th>
                <th>Picture</th>
                <th>Difficulty</th>
                <th>Type</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hiking in hikings %}
            <tr>
                <td>{{ hiking.title }}</td>
                <td>{{ hiking.distance }}</td>
                <td>{{ hiking.elevationGain }}</td>
                <td>{{ hiking.region }}</td>
                <td>{{ hiking.municipality }}</td>
                <td><img width="170px" src="{% if hiking.picture is not null %}{{ asset('uploads/')~hiking.picture }}
                                            {% else %}{{ asset('assets/img/nopicture.png') }}{% endif %}">
                </td>
                <td>{{hiking.difficulty}}</td>
                <td>{{hiking.type}}</td>
                <td>{{ hiking.createdAt ? hiking.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('hiking.show', {'id': hiking.id}) }}">show</a>
                    <a href="{{ path('hiking.edit', {'id': hiking.id}) }}">edit</a>
                    <a href="{{ path('hiking.gpx', {'id': hiking.id}) }}">gpxFile</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(hikings) }}

    <a href="{{ path('hiking.new') }}">Create new</a>
      
{% endblock %}


{% block javascript %}
<script>
  $( function() {
    let difficulties = ['facile', 'moyenne', 'difficile', 'très difficile'];
    $( "#slider-range-difficulty" ).slider({
        range: true,
        min: 1,
        max: 4,
        values: [ 1, 4 ],
        slide: function( event, ui ) {
            $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
            $('#form_difficulty_min').val(ui.values[0]);
            $('#form_difficulty_max').val(ui.values[1]);
            $('#difficulty-text').html('Difficulté de <b>'+difficulties[ui.values[0]-1]+'</b> à <b>'+difficulties[ui.values[1]-1]+'</b>');
        }
    });
    $( "#amount" ).val( "$" + $( "#slider-range-difficulty" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range-difficulty" ).slider( "values", 1 ) );
    
    $( "#slider-range-duration" ).slider({
        range: true,
        min: 1,
        max: 24,
        values: [ 1, 24 ],
        slide: function( event, ui ) {
            $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
            $('#form_duration_min').val(ui.values[0]);
            $('#form_duration_max').val(ui.values[1]);
            $('#duration-text').html('Durée de <b>'+ui.values[0]+'h</b> à <b>'+ui.values[1]+'h</b>');
        }
    });
    $( "#amount" ).val( "$" + $( "#slider-range-duration" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range-duration" ).slider( "values", 1 ) );
  } );
</script>
{% endblock %}