{% extends 'base.html.twig' %}

{% block title %}Hiking index{% endblock %}

{% block body %}
    <h1>Hiking index</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Distance</th>
                <th>Elevation_gain</th>
                <th>Highest_point</th>
                <th>Lowest_point</th>
                <th>Return_start_point</th>
                <th>Region</th>
                <th>Municipality</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Modified_at</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hiking in hikings %}
            <tr>
                <td>{{ hiking.id }}</td>
                <td>{{ hiking.email }}</td>
                <td>{{ hiking.title }}</td>
                <td>{{ hiking.duration }}</td>
                <td>{{ hiking.distance }}</td>
                <td>{{ hiking.elevationGain }}</td>
                <td>{{ hiking.highestPoint }}</td>
                <td>{{ hiking.lowestPoint }}</td>
                <td>{{ hiking.returnStartPoint ? 'Yes' : 'No' }}</td>
                <td>{{ hiking.region }}</td>
                <td>{{ hiking.municipality }}</td>
                <td>{{ hiking.description }}</td>
                <td>{{ hiking.picture }}</td>
                <td>{{ hiking.modifiedAt ? hiking.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ hiking.createdAt ? hiking.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('hiking.show', {'id': hiking.id}) }}">show</a>
                    <a href="{{ path('hiking.edit', {'id': hiking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(hikings) }}

    <a href="{{ path('hiking.new') }}">Create new</a>
      
{% endblock %}


{% block javascript %}
<script>
  $( function() {
    let difficulties = ['facile', 'moyenne', 'difficile', 'très difficile'];
    $( "#slider-range-difficulty" ).slider({
        range: true,
        min: 0,
        max: 3,
        values: [ 0, 3 ],
        slide: function( event, ui ) {
            $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
            $('#form_difficulty_min').val(ui.values[0]);
            $('#form_difficulty_max').val(ui.values[1]);
            $('#difficulty-text').html('Difficulté de <b>'+difficulties[ui.values[0]]+'</b> à <b>'+difficulties[ui.values[1]]+'</b>');
        }
    });
    $( "#amount" ).val( "$" + $( "#slider-range-difficulty" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range-difficulty" ).slider( "values", 1 ) );
    
    $( "#slider-range-duration" ).slider({
        range: true,
        min: 1,
        max: 24,
        values: [ 1, 24 ],
        slide: function( event, ui ) {
            $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
            $('#form_duration_min').val(ui.values[0]);
            $('#form_duration_max').val(ui.values[1]);
            $('#duration-text').html('Durée de <b>'+ui.values[0]+'h</b> à <b>'+ui.values[1]+'h</b>');
        }
    });
    $( "#amount" ).val( "$" + $( "#slider-range-duration" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range-duration" ).slider( "values", 1 ) );
  } );
</script>
{% endblock %}